body {
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: auto;
}
.table {
    height: 25px;
    background-image: linear-gradient(-45deg, rgb(162, 0, 255)50%, rgb(133, 40, 255) 50%);
}
.header {
    background-color: rgb(46, 46, 46);
    display: flex;
    height: 75px;

}
.top {
    margin-top: -75px;
    transition: 0.5s ease;
}
.top:hover {
    margin-top: 0px;
}
h1 {
    color: white;
    font-family: arial;
    text-align: center;
}
img {
    width: 200px;
    height: 200px;
    transition: 0.5s ease;
} 
.imagens {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 250px;
    height: 400px;
    border: solid 7px;
    border-image: linear-gradient(-56deg, rgb(162, 0, 255)50%, rgb(133, 40, 255)50%)1;
    background-color: rgb(32, 32, 32);
    transition: 0.5s ease;
}
.escrita {
    margin-top: 5px;
    width: 90%;
    height: 45%;
    background-color: rgb(10, 3, 41);
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-family: arial;
    transition: 0.5s ease;
}
.img:hover {
    width: 300px;
    height: 500px;
}
.img:hover img {
    width: 250px;
    height: 250px;
}
.img:hover .escrita {
    font-size: 22px;
}
.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: arial;
    font-weight: bold;
    text-align: center
}
a {
    text-decoration: none;
    margin: 10%;
    font-size: 30px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, white, white);
}
a:hover {
    background-image: linear-gradient(-45deg,  rgb(162, 0, 255)50%, rgb(133, 40, 255)50%);
}
h2 {
    color:white;
    font-family: arial;
    font-weight: bold;
    font-size: 300%;
    position: relative;
    border-bottom: 5px solid transparent;
    border-image-slice: 1;
    display: inline-block;
    background-image: linear-gradient(-45deg, rgb(162, 0, 255)50%, rgb(133, 40, 255)50%);
    background-size: 0% 5px;
    background-repeat: no-repeat;
    background-position: 0% 100%;
    transition: 0.5s;
}
.informacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-overflow: ellipsis;
}
h2:hover {
    background-size: 100% 5px;
}
.informacoes2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-overflow: ellipsis;
}
.informacoes2 h2 {
    font-size: 200%;
}
.titulo h1 {
    font-size: 300%;
}
.logo img {
    width: 50px;
    height: 50px;
    border: 3px solid;
    border-image: linear-gradient(-45deg, rgb(162, 0, 255)50%, rgb(133, 40, 255)50%)1;
}
.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}